.text {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.open {
  height: auto;
}

.close {
  overflow: hidden;
  height: 100px;
}

.button {
  gap: 8px;
  align-self: center;

  width: 100%;

  font-size: 14px;

  border-radius: var(--border-radius-sm);

  transition: all 0.3s;
}

.icon {
  width: 11px;
  height: auto;
}

.arrow {
  transform: rotate(180deg);
}
