.container {
  display: flex;
  gap: 12px;
  width: 100%;
  border-radius: 16px;
}

.paginationButtons {
  display: flex;
}

.paginationButton {
  display: flex;
  padding: 16px;
  background-color: var(--grey);
}
