.container {
  display: flex;
  gap: 12px;
  width: 100%;
  border-radius: 16px;
}

.container:hover {
  /* background-color: var(--box-shadow-slight); */
  box-shadow:
    rgb(0 0 0 / 16%) 0 1px 4px,
    rgb(230 230 230) 0 0 0 3px;
}

.badgeImaContainer {
  position: relative;
  display: flex;
  width: 200px;
  height: 20px;
}

.badge {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imgStandard {
  overflow: hidden;
  height: 56px;
  border-radius: 16px;
}

.add {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 56px;

  border-radius: 16px;
}

/* .add:hover {
  box-shadow:
    rgb(0 0 0 / 16%) 0px 1px 4px,
    rgb(230 230 230) 0px 0px 0px 3px;
} */

.add:active {
  /* scale: 0.98; */

  /* height: 95%;/ */
}

.addBtn {
  aspect-ratio: 1;
  height: 100%;
  background-color: var(--green);
  border-radius: 16px;
}

.add:hover .addBtn {
  background-color: var(--green-hover);
}

.moreBtn {
  cursor: pointer;

  flex-shrink: 0;

  aspect-ratio: 1;
  height: 100%;

  background-color: var(--grey);
  border-radius: 16px;

  /* background-color: rgb(107 107 107); */
}

.moreBtn:hover {
  background-color: var(--grey-hover);
}

.added {
  background-color: var(--red);
}
