.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  /* margin-bottom: 20px; */
}

.main {
  display: flex;
  gap: 16px;
}

.link {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 5;
  /* background: #121314; */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 768px) {
  .link {
    width: 140px;
    height: 140px;
    border-radius: 16px;
    border-width: 2px;
  }
}

.clubs {
  padding: 10px 16px;
  background: linear-gradient(180deg, rgba(232, 59, 53, 0), rgba(232, 59, 53, 0.1));
  border-color: var(--primary-other-84, rgba(232, 59, 53, 0.84));
}

.ratings {
  padding: 10px 16px;
  background: linear-gradient(180deg, rgba(227, 134, 26, 0), rgba(227, 134, 26, 0.1));
  border-color: var(--yellow-other-84, rgba(227, 134, 26, 0.84));
}

.cities {
  padding: 10px 16px;
  background: linear-gradient(180deg, rgba(0, 154, 138, 0), rgba(0, 154, 138, 0.1));
  border-color: var(--secondary-other-84, rgba(0, 154, 138, 0.84));
}

.h3 {
  font-size: 16px;
  font-weight: 600;
}

.red {
  color: #D33832;
}

.yellow {
  color: #E3861A;
}

.green {
  color: #009A8A;
}

@media (min-width: 768px) {
  .h3 {
    font-size: 20px;
  }
}

.count {
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  z-index: 2;
}

@media (min-width: 768px) {
  .count {
    font-size: 44px;
  }
}

.icon {
  position: absolute;
  right: 6px;
  bottom: 0;
}

.additional {
  display: flex;
  justify-content: space-between;
}

.item {
  height: 66px;
  width: 66px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  border: dashed 1px rgba(255, 255, 255, 0.32);
  border-top: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));;
  padding-top: 8px;
}

.text {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.32);
  margin-bottom: 12px;
}

.img {
  margin: 0 auto;
}
