.container {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  padding: 0;

  color: #fff;
}

.h2 {
  padding: 12px 0;
  font-size: 32px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;

  border: 1px solid var(--neutral-left-12, rgb(255 255 255 / 12%));
  border-radius: 14px;
  box-shadow: var(--box-shadow);

  transition: var(--transition-long-bg-color);
}

.search {
  position: relative;
}

.input {
  width: 100%;
  padding: 15px;

  font-size: 16px;
  line-height: 18.8px;
  color: #fff;

  background-color: var(--bg-dark);
  border: none;
  border-radius: 16px;

  transition: var(--transition-long-bg-color);
}

.btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  padding: 7.5px;

  color: #fff;

  border-radius: 6px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;
  max-width: 460px;
  padding: 12px;
}
